{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<main class="p-5">
<div class="row text-justify">
	<div class="col">
	<h1 class="myhead2">Login Page</h1>
	<hr>
	</div>
</div>
<form enctype="multipart/form-data" method="post">
{% csrf_token %}
{{form | crispy}}<br>
<input class="btn btn-primary" type="submit" />
<a class="btn btn-success" href="/accounts/register/">Register</a>
<a class="btn btn-danger" href="/accounts/password/reset/">Reset Password</a>
</form>
</main>
{% endblock %}
